<!DOCTYPE html>
<html lang="sr">
    <head>
        <title>Zemljopis</title>
        <meta charset="UTF-8">
        <meta name="description" content="Zemljopis / Nacionalna geografija igra">
        <meta name="keywords" content="Zemljopis , Nacionalna geografija , Zemljopis online , Nacionalna geografija online , igra">
        <meta name="author" content="Aleksa Crveni">
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Zemljopis online, takodje poznato kao i Zanimljiva Geografija je sada online, mogućnost igranja sa prijateljima preko desktop verzije ili preko android aplikacije koja će uskoro biti dostupna na google play store-u!" />
        <meta property="og:url" content="https://zemljopis.rs/" />
        <meta property="og:site_name" content="Zemljopis" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/game.css">
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></noscript>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" />
        <script src="/socket.io/socket.io.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark" style="position:sticky">
                <a class="navbar-brand" href="/">Početna</a>     
        </nav>
            <div class="alert alert-danger" id="vote-alert" style="display:none" >
              </div>
        <div class="myFlexContainer myRow" id="maxDiv">
            <div class="myColumn" id="first">                        
                <div>
                  <label for="inputDrzava">Država</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputDrzava" aria-describedby="helpDrzava" placeholder="Unesi državu :"autocomplete="off">                
                    <button class="btn btn-dark myBtn" id="predloziBtnDrzava" onclick="predlozi('Drzava')">Predloži</button>
                  </div>
                  <small id="helpDrzava" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                  
                </div>
                <div class="form-group">
                    <label for="inputGrad">Grad</label>
                    <div class="support">
                      <input type="text" class="form-control" id="inputGrad" aria-describedby="helpGrad" placeholder="Unesi grad :" autocomplete="off">
                      <button class="btn btn-dark myBtn" id="predloziBtnGrad" onclick="predlozi('Grad')">Predloži</button>
                    </div>
                    <small id="helpGrad" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputIme">Ime</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputIme" aria-describedby="helpIme" placeholder="Unesi ime :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnIme" onclick="predlozi('Ime')" >Predloži</button>
                  </div>
                  <small id="helpIme" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputBiljka">Biljka</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputBiljka" aria-describedby="helpBiljka" placeholder="Unesi biljku :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnBiljka" onclick="predlozi('Biljka')">Predloži</button>
                  </div>  
                  <small id="helpBiljka" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputZivotinja">Životinja</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputZivotinja" aria-describedby="helpZivotinja" placeholder="Unesi životinju :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnZivotinja" onclick="predlozi('Zivotinja')">Predloži</button>
                  </div>
                  <small id="helpZivotinja" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputPlanina">Planina</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputPlanina" aria-describedby="helpPlanina" placeholder="Unesi planinu :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnPlanina" onclick="predlozi('Planina')">Predloži</button>
                  </div>
                  <small id="helpPlanina" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputReka">Reka</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputReka" aria-describedby="helpReka" placeholder="Unesi reku :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnReka" onclick="predlozi('Reka')">Predloži</button>
                  </div>
                  <small id="helpReka" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div>
                <div class="form-group">
                  <label for="inputPredmet">Predmet</label>
                  <div class="support">
                    <input type="text" class="form-control" id="inputPredmet" aria-describedby="helpPredmet" placeholder="Unesi predmet :" autocomplete="off">
                    <button class="btn btn-dark myBtn" id="predloziBtnPredmet" onclick="predlozi('Predmet')">Predloži</button>
                  </div>
                  <small id="helpPredmet" class="form-text text-muted" style="display:none" >Polje moze da sadrzi samo slova i minimalna duzina je 2 karaktera.</small>
                </div> 
              
            </div>
            <div class="myColumn" id="second">
                <div>
                    <button class="btn btn-primary" id="btnReady" style="background-color:red;">Nisi spreman!</button>
                </div> 
                <div id="sobaDiv">
                    <label id="lblRoomCode">Soba : </label>
                </div>  
                <div id="playersDiv">
                    <label>Igači spremni : </label>
                    <label id="lblPlayersReady"></label>
                    <label>/</label>
                    <label id="lblPlayerCount"></label>
                </div>
              <div>
                <select id="roundSelect">
                  
                </select>
              </div>
              <div id="rundaDiv">
                <label>Runda : </label>
                <label id="roundNumber">1</label>
                <label id="currentLetter"></label>
                <br>
                <label>Poeni : </label>
                <label id="poeni">0</label>
            </div>
            <div>
                    <label>Vreme : </label>
                    <label id="counter"></label>
            </div>
            <div>
                <label >Igrači : <label id="localPlayer" class="nameLabel"></label></label>
                <ul id="players">                   
                </ul>
            </div>
            
          </div>
      </div>
    </body>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
    <script type="module" type="text/javascript" src="../javascripts/game.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="../javascripts/config.js"></script>
    <script type="module" type="text/javascript" src="../javascripts/game.consts.js"></script>
    <script type="module" type="text/javascript" src="../javascripts/game.functions.js"></script>
    <script type="module" type="text/javascript" src="../javascripts/game.events.js"></script>
    <script type="module" type="text/javascript" src="../javascripts/game.sockets.js"></script>
</html>
