<!DOCTYPE html>
<html>

<head>
    <title>Zemljopis Word Sheet</title>
    <meta charset="UTF-8">
    <meta name="description" content="Zemljopis / Nacionalna geografija igra">
    <meta name="keywords"
        content="Zemljopis , Nacionalna geografija , Zemljopis online , Nacionalna geografija online , igra, recnik, rečnik, word sheet">
    <meta name="author" content="Aleksa Crveni">
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="Zemljopis online, takodje poznato kao i Zanimljiva Geografija je sada online, mogućnost igranja sa prijateljima preko desktop verzije ili preko android aplikacije koja će uskoro biti dostupna na google play store-u!" />
    <meta property="og:url" content="https://zemljopis.rs/" />
    <meta property="og:site_name" content="Zemljopis" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/game.css">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark" style="position:sticky">
        <a class="navbar-brand" href="/">Početna</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- <a class="nav-link active" href="/word-sheet">Rečnik</a> -->
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 1rem; display:flex">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Slovo</th>
                    <th>Država</th>
                    <th>Grad</th>
                    <th>Ime</th>
                    <th>Biljka</th>
                    <th>Životinja</th>
                    <th>Planina</th>
                    <th>Reka</th>
                    <th>Predmet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr style="text-align:center">
                    <th scope="row">A</th>
                    <td>Avganistan</td>
                    <td>Apatin</td>
                    <td>Avram</td>
                    <td>Artičoka</td>
                    <td>Antilopa</td>
                    <td>Azanjske planine</td>
                    <td>Arnauta</td>
                    <td>Antena</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">B</th>
                    <td>Bangladeš</td>
                    <td>Bačka topola</td>
                    <td>Bajko</td>
                    <td>Beliluk</td>
                    <td>Babun</td>
                    <td>Besna kobila</td>
                    <td>Begej</td>
                    <td>Bubanj</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">V</th>
                    <td>Vanuatu</td>
                    <td>Valjevo</td>
                    <td>Vanja</td>
                    <td>Vanila</td>
                    <td>Vidra</td>
                    <td>Vardenik</td>
                    <td>Velika morava</td>
                    <td>Vaza</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">G</th>
                    <td>Gabon</td>
                    <td>Gornji milanovac</td>
                    <td>Gavrilo</td>
                    <td>Grah</td>
                    <td>Gazela</td>
                    <td>Giljeva</td>
                    <td>Golijska moravica</td>
                    <td>Greda</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">D</th>
                    <td>Danska</td>
                    <td>Despotovac</td>
                    <td>Dabo</td>
                    <td>Dinja</td>
                    <td>Delfin</td>
                    <td>Dinara</td>
                    <td>Dunav</td>
                    <td>Daska</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Đ</th>
                    <td></td>
                    <td>Đer</td>
                    <td>Đora</td>
                    <td>Đurđevak</td>
                    <td></td>
                    <td>Đeravica</td>
                    <td>Đehotina</td>
                    <td>Đubrovnik</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">E</th>
                    <td>Egipat</td>
                    <td>Ečmijadzin</td>
                    <td>Emilijan</td>
                    <td>Eukaliptus</td>
                    <td>Emu</td>
                    <td>Etna</td>
                    <td>Ems</td>
                    <td></td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Ž</th>
                    <td></td>
                    <td>Ženeva</td>
                    <td>Želimir</td>
                    <td>Žuta broćika</td>
                    <td>Žirafa</td>
                    <td>Žilindar</td>
                    <td>Žurua</td>
                    <td>Žeton</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Z</th>
                    <td>Zambija</td>
                    <td>Zaječar</td>
                    <td>Zaviša</td>
                    <td>Zelje</td>
                    <td>Zebra</td>
                    <td>Zlatibor</td>
                    <td>Zlatica</td>
                    <td>Zatvarač</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">I</th>
                    <td>Izrael</td>
                    <td>Ivanjica</td>
                    <td>Ivan</td>
                    <td>Iđirot</td>
                    <td>Indijski slon</td>
                    <td>Igman</td>
                    <td>Ibar</td>
                    <td>Igla</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">J</th>
                    <td>Jamajka</td>
                    <td>Jagodina</td>
                    <td>Jablan</td>
                    <td>Jagoda</td>
                    <td>Jaguar</td>
                    <td>Jastrebac</td>
                    <td>Jablanica</td>
                    <td>Jakna</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">K</th>
                    <td>Kazahstan</td>
                    <td>Kanbera</td>
                    <td>Kalin</td>
                    <td>Karfiol</td>
                    <td>Kapibara</td>
                    <td>Kukavica</td>
                    <td>Kolubara</td>
                    <td>Kajak</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">L</th>
                    <td>Laos</td>
                    <td>Leskovac</td>
                    <td>Labud</td>
                    <td>Lubenica</td>
                    <td>Lav</td>
                    <td>Liškovac</td>
                    <td>Lim</td>
                    <td>Lampa</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">LJ</th>
                    <td></td>
                    <td>Ljubljana</td>
                    <td>Ljuban</td>
                    <td>Ljubica</td>
                    <td>Ljuskar</td>
                    <td>Ljuboten</td>
                    <td>Ljubiviđa</td>
                    <td>Ljuljaška</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">M</th>
                    <td>Madagaskar</td>
                    <td>Mladenovac</td>
                    <td>Mavren</td>
                    <td>Mrkva</td>
                    <td>Maca</td>
                    <td>Mokra planina</td>
                    <td>Mlava</td>
                    <td>Mač</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">N</th>
                    <td>Namibija</td>
                    <td>Niš</td>
                    <td>Najdan</td>
                    <td>Nar</td>
                    <td>Nilski konj</td>
                    <td>Ninaja</td>
                    <td>Nera</td>
                    <td>Naočare</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">NJ</th>
                    <td></td>
                    <td>Njukasl</td>
                    <td>Njegovan</td>
                    <td></td>
                    <td>Njorka</td>
                    <td>Ostrozub</td>
                    <td>Njemen</td>
                    <td>Njihalica</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">O</th>
                    <td>Obala slonovače</td>
                    <td>Orhus</td>
                    <td>Obrad</td>
                    <td>Ogrozd</td>
                    <td>Ocelot</td>
                    <td>Ozren</td>
                    <td>Odijana</td>
                    <td>Orman</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">P</th>
                    <td>Pakistan</td>
                    <td>Paraćin</td>
                    <td>Pavle</td>
                    <td>Paprika</td>
                    <td>Panda</td>
                    <td>Prokletije</td>
                    <td>Pek</td>
                    <td>Parket</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">R</th>
                    <td>Republika kongo</td>
                    <td>Rosario</td>
                    <td>Radak</td>
                    <td>Rotkvica</td>
                    <td>Rakun</td>
                    <td>Radan</td>
                    <td>Rzav</td>
                    <td>Radio</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">S</th>
                    <td>Severna makedonija</td>
                    <td>Svilajnac</td>
                    <td>Sava</td>
                    <td>Sočivo</td>
                    <td>Slon</td>
                    <td>Suva planina</td>
                    <td>Sitnica</td>
                    <td>Sedlo</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">T</th>
                    <td>Tajland</td>
                    <td>Temerin</td>
                    <td>Tadija</td>
                    <td>Tikva</td>
                    <td>Tasmanijski đavo</td>
                    <td>Tresibaba</td>
                    <td>Tisa</td>
                    <td>Telefon</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Ć</th>
                    <td></td>
                    <td>Ćuprija</td>
                    <td>Ćirko</td>
                    <td></td>
                    <td>Ćuran</td>
                    <td>Ural</td>
                    <td>Uvac</td>
                    <td>Ćup</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">U</th>
                    <td>Uganda</td>
                    <td>Užice</td>
                    <td>Uglješa</td>
                    <td>Urma</td>
                    <td>Ugor</td>
                    <td>Učka</td>
                    <td>Ub</td>
                    <td>Upaljač</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">F</th>
                    <td>Filipini</td>
                    <td>Fransistaun</td>
                    <td>Filimon</td>
                    <td>Fizalis</td>
                    <td>Flamingo</td>
                    <td>Fik</td>
                    <td>Fulda</td>
                    <td>Flaša</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">H</th>
                    <td>Haiti</td>
                    <td>Hanoj</td>
                    <td>Hvalimir</td>
                    <td>Heljda</td>
                    <td>Hijena</td>
                    <td>Homoljske planine</td>
                    <td>Huanghe</td>
                    <td>Harpun</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">C</th>
                    <td>Centralnoafrička republika</td>
                    <td>Crvenka</td>
                    <td>Cvejan</td>
                    <td>Cvekla</td>
                    <td>Crni nosorog</td>
                    <td>Cer</td>
                    <td>Crni timok</td>
                    <td>Cigla</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Č</th>
                    <td>Čad</td>
                    <td>Čačak</td>
                    <td>Čedomir</td>
                    <td>Čičoka</td>
                    <td>Čvorak</td>
                    <td>Čemernik</td>
                    <td>Čiker</td>
                    <td>Česma</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">DŽ</th>
                    <td></td>
                    <td>Džordžtaun</td>
                    <td></td>
                    <td>Dženarika</td>
                    <td>Džukela</td>
                    <td>Džaja</td>
                    <td>Džeferson</td>
                    <td>Džemper</td>
                </tr>
                <tr style="text-align:center">
                    <th scope="row">Š</th>
                    <td>Švajcarska</td>
                    <td>Šabac</td>
                    <td>Šakota</td>
                    <td>Šargarepa</td>
                    <td>Šakal</td>
                    <td>Šar planina</td>
                    <td>Šelovrnac</td>
                    <td>Šal</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>